@media(max-width: 992px) {
    .border-light {
        display: none;
    }

    .left-bar {
        height: 100vh;
    }

    .nav-text {
        display: none;
    }

    .heder-media {
        margin-top: 16px !important;
    }

    .border-bottom {
        height: 156px !important;
    }
}

@media(max-width: 767px) {
    .nav-text {
        display: none;
    }

    .left-bar {
        height: 100vh;
    }

    .border-bottom > img {
        width: 143px;
        height: 71px;
    }

    .border-bottom {
        margin: 0px 83px !important;
        margin: auto;
    }

    .left-bar {
        width: 112px;
    }

    .border-bottom {
        margin: 0 9px!important;
        height: 156px !important;
        align-items: center;
    }

    .nav-item {
        margin-left: 17px;
    }

    .nav-header-border {
        width: calc(100% - 113px) !important;
    }

    .nav-header {
        padding: 25px 0 25px 0px;
    }
}


@media(max-width: 575px) {
    .nav-text {
        display: none;
    }

    .left-bar {
        height: 100vh;
    }

    .row-width {
        width: 100%;
        flex-direction: column;
    }

    .border-bottom {
        margin: 0 9px!important;
        height: 156px;
        align-items: center;
    }
    
    .nav-header-border {
        width: calc(100% - 115px) !important;
    }

    .heder-media {
        justify-content: space-between;
        margin-top: 16px;
    }

    .navbar-light {
        padding-right: 25px;   
    }
}
