* {
    padding: 0;
    margin: 0; 
  }

  body {
    font-family: 'Proxima Nova', arial, serif;
    font-weight: 400;
  }

  h1 { 
    font-size: 36px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
   font-size: 14px;
   font-weight: 600;
   color: #4F4F4F;
  }

  h4 {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
  }

  h5 {
    font-size: 10px;
    font-weight: 600;
    color: #828282;
  }

  p { 
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.405px;
    color: 828282;
    
  }

  span {
    font-size: 10px;
    font-weight: 600;
    color: #828282;
  }

  .main-container {
    height: 100%;
  }

  .left-bar {
    background-color: #216AFA;
    min-height: 100vh;
    width: 256px;
    position: relative;
  }

  .logo-line {
    border-bottom: 2px #fff;
  }

  .border-bottom {
    margin: 0px 17px !important;
    margin: auto;
  }

  .nav-left {
   margin-top: 38px;
  }

  .nav-link-dashboard {
    margin-top: -12px;
  }

  .nav-left > a.active {
    border-left: 8px solid #fff;
    height: 40px;
    left: -1px;
    border-radius: 0px 3px 3px 0px;
    background-color: #007bff;
  }

  .nav-left > a {
    margin-bottom: 39px;
    font-size: 18px;
    color: #fff;
    background: transparent !important;
    border-left: 8px solid transparent;
  }

  .nav-left > a > div > span {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
  }

  .nav-left > a.active > div > span {
    font-weight: 600 !important;
  }

  .nav-item {
    margin-left: 28px;
  }
  
  .active> .nav-item {
    font-weight: 700;
  }

  .teams-container {
    padding-left: 15px;
  }

  .card-size {
    height: 348px;
    width: 207px;
    left: 24px;
    border-radius: 8px;
    border: none;
  }

  .card-header-title {
    height: 52px;
    width: 207px;
    background: #6796F2;
    border-radius: 8px 8px 0px 0px;
    border: none;
  }

  .imgs-meeting > span {
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
  }

  .zoom-img > p {
    position: absolute;
    color: #fff;
    font-size: 13px;
    bottom: -14px;
    right: 135px;
  }

  .zoom-img > .img-T {
    position: absolute;
    color: #fff;
    font-size: 13px;
    bottom: -15px;
    right: 112px;
  }

  .log-out {
    margin-top: 63px;
    margin-bottom: 43px;
  }

  .log-out > a {
    font-size: 18px;
  } 

  .form-inline {
    width: 100%;
  }

 .form-inline > input {
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 8px;
  height: 40px;
  width: 100% !important;
}

.nav-header-border{
  width: calc(100% - 256px) !important;
}

.nav-header {
  padding: 33px 0 33px 40px ;
  width: auto !important;
  background: #FFFFFF;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.09);
}

.shape-img > span {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 11px;
  top: -7px;
}

.teams-title {
  margin: 40px 0 0 30px;
}

.teams-box {
  margin: 4px 15px 32px 30px;
}

.border-circle {
  height: 190px;
  left: 18px;
  justify-content: center;
  display: flex;
  padding-top: 0px;
  margin-top: 12px;
}

.position-relative > li {
  color:  #216AFA !important;
}

.row-width {
  width: 100%;
}

.filter-select {
  color: #4F4F4F !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  margin-right: 31px;
}

.teams-box > .btn , .filter-select {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.card-body-style {
  background: #fff;
  border-radius: 3px;
  margin: 6px;
  padding: 12px 0 35px 12px;
  margin-bottom: 12px;
}

.card-box {
  background: #F5F9FF;
  border-radius: 3px;
}

.card-header-style , .card-footer-style {
  background: transparent;
}

.card-footer-style {
  color: #216AFA !important;
}

.card-header-style {
  padding: 25px 0 16px 6px;
}

.card-header-style > .card-team-title {
  color: #216AFA;
  font-size: 16px;
  font-weight: 600;
}

.card-header-style > .card-team-members {
  color: #828282;
  font-size: 12px;
  font-weight: 400;
}

.time-name {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}